NODE_ENV=development
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
AUTH_URL=http://localhost:5000/api/auth
NEXT_PUBLIC_AUTH_API=http://localhost:5000/api/auth